<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="linkToItem()">Добавить студента</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label for="">Фильтр:</label>
    <select name="" id="" [(ngModel)]="sortSelected">
      <option value="surname">Фамилия</option>
      <option value="group">Группа</option>
      <option value="direction">По направление</option>
    </select>
    <input type="text" [(ngModel)]="sortingInput">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Фамилия</th>
          <th>Инициалы</th>
          <th>Номер группы</th>
          <th>Направление подготовки</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of sortDataBy(students)" (click)="linkToItem(student.id)">
          <td>{{student.surname}}</td>
          <td>{{student.name[0].toUpperCase()}}. {{student.patronymic[0].toUpperCase()}}.</td>
          <td>{{student.group}}</td>
          <td>{{student.direction}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
